<template>
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="col-lg-8">
      <h1 class="text-center mb-4">Expenses</h1>
     <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary mb-3" @click="showModal = true">
        Create Expense
      </button>

       <!-- Modal -->
      <div class="modal" :class="{ 'd-block': showModal, 'show': showModal }" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Expense</h5>
              <button type="button" class="close" @click="showModal = false">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p v-if="serverMessage" class="alert" :class="{ 'alert-success': !hasError, 'alert-danger': hasError }">{{ serverMessage }}</p>
              <!-- Add your form for creating an expense here -->
              <form @submit.prevent="createExpense">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input v-model="newExpense.title" type="text" class="form-control" id="title" placeholder="Enter title">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea v-model="newExpense.description" class="form-control" id="description" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="amount">Amount</label>
                  <input v-model="newExpense.amount" type="number" class="form-control" id="amount" placeholder="Enter amount">
                </div>
                <div class="form-group">
                  <label for="date">Date</label>
                  <input v-model="newExpense.date" type="date" class="form-control" id="date">
                </div>
                <div class="form-group">
                  <label for="group">Group</label>
                  <select v-model="newExpense.groupId" class="form-control" id="group">
                    <option v-for="group in groups" :value="group.id">{{ group.name }}</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" @click="showModal = false">Close</button>
              
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(expense, index) in expenses" :key="expense.id">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ expense.title }}</td>
            <td>{{ expense.description }}</td>
            <td>{{ expense.date }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.status }}</td>
            <td>
              <button class="btn btn-primary">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { GET_GROUPS,POST_EXPENSE, GET_EXPENSES_BY_OWNER } from "../api/api.js";
export default {
  name: 'HomeView',
  data() {
    return {
      expenses: [],
      showModal: false,
      groups: [],
      serverMessage: '',
      newExpense: {
        title: "",
        description: "",
        date: "",
        amount: 0,
        paidBy: JSON.parse(sessionStorage.getItem("token")).id, // Replace this with the actual user ID
        groupId: null
      } // You should fetch the expenses from your API and assign them to this array
    }
  },
  methods:{
    createExpense() {
      POST_EXPENSE(this.newExpense)
        .then((data) => {
          console.log(this.newExpense);
          this.expenses.push(data);
          this.showModal = false;
          this.serverMessage = 'Expense created successfully';
          this.hasError = false;
        })
        .catch((e) => {
          console.log(e);
          this.serverMessage = 'Error creating expense';
          this.hasError = true;
        });
    },
    fetchGroups() {
      GET_GROUPS()
        .then((data) => {
          this.groups = data.group;
          console.log(data.group)
        })
        .catch((e) => {
          console.log(e);
        });
    },
    fetchExpenses() {
      const userId = JSON.parse(sessionStorage.getItem("token")).id;
      GET_EXPENSES_BY_OWNER(userId)
        .then((data) => {
          this.expenses = data;
          console.log(data);
        })
        .catch((e) => {
          console.log(e);
        });
    }
  },
  mounted(){
    this.fetchGroups(),
    this.fetchExpenses()
  }
}
</script>

<style scoped>
.container {
  height: 100vh; /* Full height of the viewport */
}
</style>