<template>
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="col-lg-6">
      <h1 class="text-center mb-4">Register</h1>
      <div class="card">
        <div class="card-body">
          <form :model="registerRequest">
            <div class="form-group mb-3">
              <label for="name">Name</label>
              <input v-model="registerRequest.username" type="text" class="form-control" id="name" placeholder="Enter name">
            </div>
            <div class="form-group mb-3">
              <label for="email">Email address</label>
              <input v-model="registerRequest.email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group mb-3">
              <label for="password">Password</label>
              <input v-model="registerRequest.password" @input="validatePassword" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <p v-if="passwordError" class="error-message">
                      {{ passwordError }}
                    </p>
            <button type="submit" @click.prevent="registerSubmit" class="btn btn-primary btn-block">Submit</button> &nbsp;&nbsp;&nbsp;
            <router-link class="btn btn-success btn-block" to="/login">Login</router-link>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { POST_UTILISATEUR } from "../api/api.js";
import JSEncrypt from 'jsencrypt';
export default {
  name: 'RegisterView',
  data() {
    return {
      registerRequest: {
        username: "",
        email: "",
        password: "",
        publicKey: "", // Add this line
        // roles: ["member"],
      },
      passwordError: "",
    };
  },
  methods: {
    async registerSubmit() {
      // Generate a key pair
      const crypt = new JSEncrypt({default_key_size: 1024});
      const privateKey = crypt.getPrivateKey();
      const publicKey = crypt.getPublicKey();

      // Add the public key to the register request
      this.registerRequest.publicKey = publicKey;

      // Store the private key in local storage
      localStorage.setItem('privateKey', privateKey);

      POST_UTILISATEUR(JSON.parse(JSON.stringify(this.registerRequest)))
        .then((res) => {
          console.log("data: " + res);
          this.$router.push({ path: "/login" });
        })
        .catch((e) => {
          console.log(e);
        });
    },

    validatePassword() {
      // Reset error message
      this.passwordError = "";

      // Validate password length and mixture of characters
      if (this.registerRequest.password.length < 8) {
        this.passwordError = "Password must be at least 8 characters long.";
      } else if (
        !/[a-zA-Z]/.test(this.registerRequest.password) ||
        !/\d/.test(this.registerRequest.password)
      ) {
        this.passwordError =
          "Password must contain a mixture of letters and numbers.";
      }
    }
  }
}
</script>

<style scoped>
.container {
  height: 100vh; /* Full height of the viewport */
}
</style>